# URL base para execução dos testes de API
BASE_URL=http://localhost:3000

# Porta da aplicação
PORT=3000

# String de conexão com o MongoDB
MONGODB_URI=mongodb://localhost:27017/nome_do_banco

# Chave secreta JWT (NUNCA coloque o segredo real aqui!)
JWT_SECRET=insira_uma_chave_secreta_longa_aqui

# Credenciais de Administrador
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=sua_senha_forte_aqui